<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <h1 class="header1">Position</h1>
    <a name="top"></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quo magnam cumque quidem nam perspiciatis iste hic eos, optio, quia quisquam mollitia architecto, aspernatur voluptates possimus quod aut maiores vero?</p>
        <img class="slika1" src="./emoji.png" alt="emoji" class="relative">
        <img class="slika2" src="./emoji.png" alt="emoji" class="absolut">
        <img class="slika3" src="./emoji.png" alt="emoji" class="relative">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque cum nam distinctio laudantium et quae, tempore, debitis dolorum cupiditate ipsam libero in deserunt est dolorem ad quisquam quidem dolore officiis?
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet in odit reprehenderit fugit ipsa tempore voluptatem reiciendis a aut. Quasi culpa, eos veritatis praesentium assumenda cupiditate consequatur esse non cumque?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vero suscipit maxime ipsum, commodi laborum voluptas facere minus animi ab, doloremque, vel et! Aliquid aut harum dicta atque a vero?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, nostrum. Veritatis numquam totam voluptatem cumque alias explicabo dolores odit accusamus quisquam fugit. Architecto explicabo tempore esse veritatis debitis unde sapiente!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quo nisi eius qui quae delectus voluptates ullam! Culpa necessitatibus unde, dolore adipisci consequuntur repudiandae sequi nobis doloribus assumenda dolores. Amet, sunt sit labore cumque distinctio doloribus, officiis nisi quos a recusandae, odio soluta suscipit modi? Eum culpa, facilis suscipit repellendus nobis recusandae quo voluptatem. Et, harum esse a dolorum possimus magni excepturi fugiat nihil. Nesciunt a illo quaerat ipsa obcaecati provident cupiditate nobis est consequatur laborum eius, labore, odio eligendi dolor ab dolore rerum architecto. Corrupti soluta eos aut sit, laboriosam laborum repellendus mollitia eaque enim quasi harum officiis nulla!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi error et ipsum molestias possimus sed obcaecati similique ullam! Magni excepturi temporibus expedita ex natus quidem dolorum assumenda aliquam repellendus maxime ipsa itaque quibusdam nobis unde velit numquam, quisquam eos porro perspiciatis ipsum blanditiis. Incidunt quod unde ut, dignissimos porro odio. Eos maxime laborum aliquid, quas, earum dicta animi velit reiciendis voluptate mollitia accusantium rerum doloribus laboriosam vero beatae perferendis corporis unde tempore. Iure expedita placeat cum vitae! Quibusdam est iusto temporibus quisquam minus magni voluptates dolore, optio, error consequatur impedit, similique quas corporis quaerat ex iste eos quod ipsam qui!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, iste! Perspiciatis aliquam quo laborum. Quod doloribus quasi nam officia sequi et exercitationem aliquam, animi placeat! Itaque inventore fuga tempore, similique dolor reprehenderit officia quidem perferendis ipsum ab eveniet quas explicabo eos nostrum accusamus! Nesciunt atque excepturi voluptatem ea itaque in ad et, ipsum dolore cumque nam praesentium fugiat pariatur, laborum assumenda ratione doloremque commodi, rerum dolor deserunt alias eveniet reiciendis maxime dolorum. Consequatur laborum sunt veritatis eius odit, in, exercitationem architecto aspernatur aperiam id impedit quaerat amet consectetur ad, quasi facere beatae officiis repudiandae delectus voluptate eligendi ex reprehenderit ducimus.</p>
        <a class="linktop" href="#top">Vrati me na vrh stranice</a>
        

</body>
</html>